.category-divisions{
    li{
        position: relative;
        .vs{
            display: flex;
        }
        div{
            position: absolute;
            max-width: 50%;
            display: none;
            top: 20px;
            z-index: 1;
        }
    }
    &:hover{
        li{
            div{
                display: flex;
                span{
                    display: flex;
                    background-color: #fff;
                }
            }
        }
    }
}